<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828423989247-8qv845tmt5cmrccm1ma5fcsimijv2ff6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828423989247-8qv845tmt5cmrccm1ma5fcsimijv2ff6</string>
	<key>API_KEY</key>
	<string>AIzaSyBGgzsKJPb_J-SCGdWFNU0OiF1FL3pHTkE</string>
	<key>GCM_SENDER_ID</key>
	<string>828423989247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>sean-flutter-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>sean-flutter-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828423989247:ios:783c5964c63d0d39e529ca</string>
</dict>
</plist>